.App {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem auto;
  width: 250px;
  display: block;
  padding: 2rem;
  border: .25rem solid black;
  background-color: rgba(230, 120, 18, 0.336);
  border-radius: 10px;
  box-shadow: 15px 15px 20px rgb(0, 0, 0);
}

.btn-main {
  text-transform: lowercase;
  font-size: 1rem;
  padding: .75rem;
  color: white;
  margin: 0 7px;
  background: linear-gradient(to right bottom, rgba(172, 155, 212, .8), rgb(98, 15, 146));
  display: inline;
}

.btn-sub {
  font-size: 1rem;
  padding: .75rem;
  color: white;
  margin: 0 7px;
  background: linear-gradient(to right bottom, rgba(171, 238, 116, 0.911), rgb(23, 83, 31));
  display: inline;
}